@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@font-face {
  font-family: 'FuturaHvBTHeavy';
  src: url('/fonts/Futura_Hv_BT_Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMedium';
  src: url('/fonts/Futura_Medium.ttf') format('truetype');
  font-weight: normal; /* Puedes establecer font-weight según corresponda para Medium */
  font-style: normal;
}

h1,h2,h3 {
    font-family: 'FuturaHvBTHeavy', sans-serif;
}

@layer base {
  body {
    @apply overflow-hidden leading-relaxed;
  }
  .page {
    @apply w-full h-screen overflow-hidden;
  }
}
